<html>
<head>
<title>
Ansible Test Page
</title>
</head>
<body>
<h1>Hello From {{ win_iis_demo_homepage_hello_from }}!</h1>

Find me on Twitter at <a href="https://www.twitter.com/{{ win_iis_demo_homepage_twitter_handle }}">@{{ win_iis_demo_homepage_twitter_handle }}</a>.
</body>
</html>
